@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chat">
  <div class="row">
    <input id="userInput" placeholder="Ваше имя" />
  </div>
  <div class="row">
    <input id="messageInput" placeholder="Сообщение" />
    <button id="sendButton">Отправить</button>
  </div>
  <ul id="messagesList"></ul>
</div>
